* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        
}


body {
    background-image: linear-gradient(120deg, #f6d365, #f37654);
}

.parent {
    width: 450px;
    height: 570px;
    background-color: rgb(105, 99, 99);
    box-shadow: 5px 10px #525050;
}

.flex1 {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.display {
    display: flex;
    flex-wrap: wrap;
    /* height: 100px; */
    width: 420px;
    
    background-color: rgb(58, 54, 54);
    color: white;
    margin: 15px;
    padding: 2rem;
    font-size: 30px;
    justify-content: flex-end;
    
}

.display-child {
    width: 100%;
    font-family: 'Orbitron', sans-serif;
}


.calc-buttons {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 5px;
    height: 435px;
}

.calc-buttons div {
    border: 2px transparent;
}

.func-button {
height: 50px;
width: 70px;
text-align: center;
background-color: rgb(75, 47, 75);
color: white;
}

.number-button {
    height: 50px;
    width: 70px;
    text-align: center;
    background-color: rgb(175, 174, 170);
}

.equal-sign {
    height: 50px;
    width: 70px;
    text-align: center;
    background-color: red;
    color: white;
}

button {
    font-family: 'Orbitron', sans-serif;
    margin-left: 10px;
    font-size: 20px;
    box-shadow: 5px 10px #525050;
    border-radius: 8px;
    border: 2px solid black;
}